<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Agency Template</title>

<!-- Bootstrap -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h4 style="text-align:center;">CUESTIONARIO DE EVALUACIÓN DEL DESEMPEÑO </h4>
<br>
<br>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th> DATOS DEL EVALUADO </th>
			<th>
				DATOS DEL EVALUADO 
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				NOMBRE COMPLETO
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				RUT
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				CARGO
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				PAIS
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h4>ESCALA DE EVALUACION</h4>
<br>
<table class="table table-bordered table-striped table-hover">
	
	<tbody>
	  <tr>
			<td>
				BAJO LO ESPERADO
			</td>
			<td>
				1
			</td>
			<td> No cumple o está lejos de cumplir con las tareas y metas comprometidas. Despliega o realiza muy pocas veces la conducta o competencia evaluada. </td>
		</tr>
		<tr>
			<td>
				PRÓXIMO A LO ESPERADO
			</td>
			<td>
				2
			</td>
			<td> Cumple parcialmente las tareas y metas comprometidas no alcanzando el nivel esperado .La conducta o competencia evaluada se observa eventualmente.</td>
	  </tr>
		<tr>
			<td>
				DESEMPEÑO ESPERADO
			</td>
			<td>
				3
			</td>
			<td> Cumple con las tareas y metas comprometidas. Desarrolla habitualmente la conducta o competencia evaluada. Este es un desempeño sólido, esperado de personas que tienen las experiencias y conocimientos necesarios para ejecutar las funciones de su puesto</td>
		</tr>
		<tr>
			<td>
				SOBRE LO ESPERADO
			</td>
			<td>
				4
			</td>
			<td> Supera las tareas y metas comprometidas alcanzando logros y rendimientos por sobre lo exigido en forma casi permanente.</td>
		</tr>
		<tr>
			<td>
				EXCEPCIONAL
			</td>
			<td>
				5
			</td>
			<td> Supera ampliamente las tareas y metas comprometidas alcanzando logros y rendimientos de excepción. </td>
		</tr>
        <tr>
			<td>
				NO APLICA
			</td>
			<td>
				6
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
	</tbody>
</table>
<p>MARQUE CON UNA X LA ALTERNATIVA ELEGIDA DE ACUERDO A LA ESCALA DE EVALUACIÓN.</p>
<br>
<h4> Competencias transversales  </h4>
<br>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>
				NOMBRE COMPETENCIA
			</th>
			<th>
				1
			</th>
			<th>
				2
			</th>
            <th>
				3
			</th>
			<th>
				4
			</th>
			<th>
				5
			</th>
            <th>
				6
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Conoce y aplica los estándares de ética y los procedimientos de Hortifrut
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
            <td>
				
			</td>
			<td>
				
			</td>
			<td>
				<p style="text-align:center;">X</p>
			</td>
            <td>
				
			</td>
		</tr>
		
		
		
	</tbody>
</table>
<br>
<br>
<h4>Fortalezas y aspectos a mejorar del evaluado:</h4>
<br>
<p>AQUI VA EL TEXTO</p>
<br>
<br>
<br>
<h4>RESULTADO DE ACUERDO AL TOTAL DE PUNTOS</h4>
<br>
<div class="col-lg-4">
<table class="table table-bordered table-striped table-hover">

	<tbody>
		<tr>
			<td>
				Excepcional
			</td>
			<td>
				4,50
			</td>
			<td>
				5,00
			</td>
		</tr>
		<tr>
			<td>
				Sobre lo esperado
			</td>
			<td>
				4,00
			</td>
			<td>
				4,50
			</td>
		</tr>
		<tr>
			<td>
				Esperado
			</td>
			<td>
				3,00
			</td>
			<td>
				3,99
			</td>
		</tr>
		<tr>
			<td>
				Próximo a lo esperado
			</td>
			<td>
				2,00
			</td>
			<td>
				2,99
			</td>
		</tr>
		<tr>
			<td>
				Bajo lo esperado
			</td>
			<td>
				1,00
			</td>
			<td>
				1,99
			</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>
				1
			</th>
			<th>
				2
			</th>
			<th>
				3
			</th>
			<th>
				4
			</th>
			<th>
				5
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				BAJO LO ESPERADO
			</td>
			<td>
				PRÓXIMO A LO ESPERADO
			</td>
			<td>
				DESEMPEÑO ESPERADO
			</td>
			<td>
				SOBRE LO ESPERADO
			</td>
			<td>
				EXCEPCIONAL
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				X
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<p>
Plan de mejoramiento recomendado (capacitación, metas, otros)
</p>
<br>
<p>_________________________________________________________________________________________________</p>
<p>_________________________________________________________________________________________________</p>
<p>_________________________________________________________________________________________________</p>
<br>
<br>
<h4>GRADO DE ACUERDO CON LA EVALUACIÓN DEL DESEMPEÑO</h4>
<p>Me he reunido con mi Jefe Directo para revisar los resultados de mi evaluación y estoy: </p>

<p><input type="checkbox" value="">DE ACUERDO</p>
<p><input type="checkbox" value="">PARCIALMENTE DE ACUERDO</p>
<p> Porque________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
</p>
<p><input type="checkbox" value="">EN DESACUERDO</p>
<p> Porque________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
</p>
<br>
<br>
<br>
<br>
<br>
<div class="col-lg-6 col-xs-6 col-md-6">
<p style="text-align:center;">______________</p>
<p style="text-align:center;">FIRMA EVALUADO</p>
</div>
<div class="col-lg-6 col-xs-6 col-md-6">
<p style="text-align:center;">______________</p>
<p style="text-align:center;">FIRMA EVALUADOR</p>
</div>
		

</div>
</body>
</html>
